body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

/* HEADER */
.header {
	text-align: center;
}

.title {
	font-size: 30px;
}

/* DROP DOWN */
.state-menu {
	font-size: 18px;
	padding: 5px 10px;
	margin-top: -10px;
	background-color: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: '';
	text-align-last: center;
}


/* CHART */

/* RANGE */

.circles {
	cursor: pointer;
}

.selected {
	fill: mediumpurple;
}

.user-instructions {
	margin-top: 10px;
	margin-left: 25px;
}